<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search users by two categories</title>
    </head>
    <body>
        <h3>Search for users who posted two or more items at the same day: </h3>
        <form>
            <label>Category one:</label>
            <input type="text" id="catA">
            <br><br>
            <label>Category two:</label>
            <input type="text" id="catB">
            <br><br>
            <input type="submit" value="Search">
        </form>
        <br><br><hr>
        <table>
            <tr>
                <td>User</td>
                <td>Item</td>
            </tr>
        </table>
    </body>

</html>